* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding-top: 100px;
}
/*NAVBAR*/
.navBar {
  list-style: none;
  height: 61px;
  width: 100%;
  position: fixed;
  background-color: yellow;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navBar > li {
  margin-right: 30px;
  color: #000;
}

.navBar li a {
  text-decoration: none;
  padding: 12px;
  color: #000;
}
.navBar li a:hover {
  color: white;
}

.navBar li a.active {
  background-color: black;
  color: yellow;
}

/*PROFILE*/
.container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
.wrapperProfile h1 {
  font-size: 18px;
  text-align: center;
}

/*CHAT*/

.btn {
  border-radius: 8px;
  padding: 10px 25px;
  background-color: black;
  color: yellow;
  margin: 0 15px;
  cursor: pointer;
}
